@model List<Innovs.Core.Data.MobileInfo>


@{
    ViewBag.Title = "ViewMobilesInfo";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>All Mobiles Info</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="display: block;">
             
                @(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled("Name");
        columns.Add(model => model.MobileNumber).Titled("Mobile Number");
        columns.Add(model => model.IsActive).Titled("Is Active");
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
       .Pageable(pager =>
       {
           pager.ShowPageSizes = true;
           pager.PagesToDisplay = 3;
           pager.CurrentPage = 2;
           pager.RowsPerPage = 2;
       })

                )

            </div>
        </div>
    </div>
</div>




